[submodule "core"]
	path = core
	url = git@github.com:RonenMars/threadbase-core.git
[submodule "ui"]
	path = ui
	url = git@github.com:RonenMars/threadbase-ui.git
[submodule "scanner"]
	path = scanner
	url = git@github.com:RonenMars/threadbase-scanner.git
[submodule "mobile"]
	path = mobile
	url = git@github.com:RonenMars/threadbase-mobile.git
[submodule "streamer"]
	path = streamer
	url = git@github.com:RonenMars/threadbase-streamer.git
[submodule "electron"]
	path = electron
	url = git@github.com:RonenMars/threadbase-electron.git
[submodule "intellij"]
	path = intellij
	url = git@github.com:RonenMars/threadbase-intellij.git
[submodule "vscode"]
	path = vscode
	url = git@github.com:RonenMars/threadbase-vscode.git
[submodule "landing-page"]
	path = landing-page
	url = git@github.com:RonenMars/threadbase-landing-codex.git
[submodule "deprecated/cli"]
	path = deprecated/cli
	url = git@github.com:RonenMars/threadbase-cli.git
